
.size{
  font-family: 'Times New Roman', Times, serif;
}

.bodycolor{
   background-color: whitesmoke;
 }

 .themarge{
      margin-bottom: 20px;
 }

 .btn-marge{  
     margin-top: 08px;
}
 
 .tete-color{
   background-color: whitesmoke;
}

.c-marge{
  margin-bottom: 30px;
}


.b-marge{
  margin-bottom: 10px;
}


.danger{
   color: red;
}


.r-marge{
  margin-left:1px ;
  margin-right: 2px;
}

.text-underline{
  text-decoration: underline;
}


.rr-marge{
  margin-right:1px ;
}

.gras{
 font-weight: bold;
}

.tr-color{
   background-color: whitesmoke;
 }

 .sillicon-color{
    color: blue;
}

.sillicon-size{
  font-size: 20px;
}

.alert-good{
  background-color: rgb(0, 128, 128);
  color: white;
}

.tete-color{
   font-size: 20px;
   padding: 10px;
}

.border{
  border: solid;
}

.rall-marge{
  padding: 10px;
}

.rmall-marge{
  margin-left: 10px;
  margin-right: 10px;
}

.agent-size{
  font-size: 16px;
}

.blm-color{
   color: rgba(255, 0, 0, 0.577);
}

.not-color{
  color: rgba(243, 9, 9, 0.83);
}

.yes-color{
  color: blue;
}

.underline{
  text-decoration: underline;
}


.p-marge{
  padding-right:30px;
  padding-left:30px;
}

.rrg-marge{
  padding-left: 10px;
  padding-left: 10px;
}




